@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
  box-sizing: border-box;
}

body {
    /* background-image: url(./noteimg.jpeg); */
    background-color:cadetblue;
    background-size: cover;
    background-position: center;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Muli', sans-serif;
    margin: 100; 
    padding-top: 2rem;
}

h1 {
    font-family: inherit;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.add {
    background-color: black;
    color: aliceblue;
    border: 0;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s all;
}

.add:active{
    transform: scale(0.98);
}

.notes {
    background-color: white;
    margin: 2rem;
    width: 300px;
    height: 300px;
    /* border-radius: 10px; */
    box-shadow: 0 0 5px 1px rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
} 

.notes .tools {
    background-color:rgb(227, 227, 119);
    display: flex;
    justify-content: flex-end;
    /* 设置工具栏高度  */
    padding: 4px;
}

.notes .tools button {
    background-color: transparent;
    border: none;
    cursor:auto;
    color:black;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.notes .main {
    background-color: #eee;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.notes textarea {
    background-color: #eee;
    outline: none;
    font-family: inherit;
    border: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.notes .hidden {
    display: none;
}

