@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
  box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SimHei', sans-serif;
    margin: 50; 
    background-color: antiquewhite;
    /* padding-top: 2rem; */
}

.h1{

}

@keyframes heartfade {
    0% {
        opacity : 1;
    }
    50% {
        opacity : 0;
    }
}

.heart {
    z-index : 999;
    animation : heartfade 6s linear;
    position : absolute; 
}

.heart:before,
.heart:after {
    content : "";
    background-color : #fc2a62;
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
}

.heart:before {
    transform : rotate(45deg);
}

.heart:after {
    left : 10.5px;
    transform : rotate(135deg);
}

.slider-container {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    width: 700px;
}

.image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.btn {
    position: absolute;
    /* 调整到一半的位置 */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    /* 透明度 */
    opacity: .5; 
    cursor: pointer; 
}

.btn.prev {
    left: 10px;
}

.btn.next {
    right: 10px;
}

/* 悬停在上方时改变透明度 */
.btn:hover{
    opacity: 1;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#date-slider {
    display: flex;
    margin: 1em;
}
  
#year-slider, #month-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#year-input, #month-input {
    width: 20em;
    /* appearance: none; */
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

  
#year-label, #month-label {
    margin: 0.5em 0;
    font-size: 18px;
    font-weight: 600;
}

.button {
    font-family: 'SimHei', sans-serif;
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

  }
  
.button:hover {
background-color: black;
}

.button:active {
background-color: black;
}


img{
    object-fit: cover;
    height: 500px;
    width: 700px;
}